<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>网站配置-后台管理系统模板</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="">
    <meta name="author" content="yinqi">
    <link href="/assets/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/index/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/assets/index/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/layui/css/layui.css">
</head>

<body>
    <div class="container-fluid p-t-15">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs page-tabs">
                        <li class="active"> <a href="#!">基本</a> </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <form action="#!" method="post" name="edit-form" class="edit-form" onsubmit="return false;">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="test">上传图片</button>
                                    <input type="file" name="filesd" id="file" style="display: none"
                                        onchange="uploadFile(this)">
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="demo1" style="width: 92px;height: 92px;"
                                            data-src="">
                                    </div>
                                </div>
                                <div style="margin-top: 10px;">
                                    <div class="form-group" style="margin-top: 10px;">
                                        <input class="form-control" type="text" id="web_site_title"
                                            name="web_site_title" value="" placeholder="请输入标题">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary m-r-5" id="sure">确 定</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/index/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script type="text/javascript" src="/assets/index/js/main.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="/assets/layui/layui.js"></script>
</body>
<script>
    function uploadFile(fileEle) {
        const file = fileEle.files[0];
        // 预览图片
        const fileReader = new FileReader();
        fileReader.readAsDataURL(file)
        fileReader.onload = function () {
            const base64 = this.result
            $("#demo1").attr('src', base64)
        }
    }
    $(function () {
        layui.use(['upload', 'element', 'layer'], function () {
            var $ = layui.jquery
                , upload = layui.upload
                , element = layui.element
                , layer = layui.layer;
            $.ajax({
                url: '/deploy',
                type: 'GET',
                success: function (data) {
                    $('#web_site_title').val(`${data[0].title}`)
                    $('#demo1').attr('src', data[0].logo)
                    $('#demo1').attr('data-src', data[0].logo)
                }
            })
            $('#test').on('click', () => {
                $('#file').click();
            })
            $('#sure').click(() => {
                let formdata = new FormData($('.edit-form')[0]);
                let oldSrc = $('#demo1').attr('data-src');
                formdata.append('oldSrc', oldSrc)
                $.ajax({
                    url: '/upload',
                    type: 'POST',
                    data: formdata,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        console.log(result);
                        if (result.code == 200) {
                            layer.msg(result.message);
                            top.location.href = '/';
                        } else {
                            layer.msg(result.message);
                        }
                    }
                })
            })
        });
    })
</script>

</html>